# Manejo de datos
pandas
numpy
requests

# Machine Learning
scikit-learn

# Deep Learning
tensorflow

# Series temporales
prophet
statsmodels

# Conexión a GitHub
PyGithub

# Utilidades extra
matplotlib

streamlit

